/* * {
    padding: 0;
    margin: 0;
}

body {
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr auto;
}
.parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.caixa1 {
    background-color: red;
    background-image: url(../img/background1.jpg);
}

.img-logo {
    width: 400px;

}

.conteudo1 {
    color: #fff;
    text-align: justify;
    padding: 50px 80px;
} */
#home10 {
    background: red;
}