* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    /* overflow: hidden; */
}

/* Cores da página */
:root {
    --bg-color: #FFFFFF;
    --bg-cinza: #31312F;
    --text-black: #000000;
    --text-white: #FFFFFF;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #8c8c8c39;
}

::-webkit-scrollbar-thumb {
    background: #4ABEED;
}

body {
    /* height: 10000px; */
    color: var(--text-white);
}

.caixa {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow: hidden; */
}

#home {
    align-items: flex-start;
}

.parallax {
    background-color: var(--bg-cinza);
    background-image: url(https://user-images.githubusercontent.com/88007295/210459345-6dcdd233-547c-47b7-8c74-26051e4b1096.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.img-logo {
    width: 100vh;
}

.conteudo {
    font-size: 22px;
    width: 100vh;
    margin-top: 25px;
    text-align: justify;
    text-indent: 50px;
    font-weight: 600;
}

#youtube {
    color: var(--text-black);
    align-items: center;
}

.frame-youtube {
    margin: 2em;
}

/* Slider */
#galeria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.slide-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

.slide-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.footer {
    height: 20vh;
    background: var(--bg-cinza);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #FFF;
}

footer p {
    margin-bottom: 25px;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

.pre {
    width: 80px;
    height: 80px;
    /* background-image: ; */
    /* background-position: center; */
    /* background-size: contain; */
    /* animation: load 2s infinite linear; */
}

.box-pre {
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: none;
}